[tool.poetry]
name = "dolphie"
version = "5.0.1"
license = "GPL-3.0-or-later"
description = "Your single pane of glass for real-time analytics into MySQL & ProxySQL"
authors = ["Charles Thompson <01charles.t@gmail.com>"]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.8"
rich = "^13.7.1"
pymysql = "^1.1.0"
myloginpath = "^0.0.4"
packaging = "^24.0"
requests = "^2.31.0"
sqlparse = "^0.4.4"
textual = {extras = ["syntax"], version = "^0.57.1"}
textual-autocomplete = "^2.1.0b0"
charset-normalizer = "^3.3.2"
plotext = "^5.2.8"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
dolphie = "dolphie.app:main"
