[tool.poetry]
name = "dolphie"
version = "6.5.4"
license = "GPL-3.0-or-later"
description = "Your single pane of glass for real-time analytics into MySQL/MariaDB & ProxySQL"
authors = ["Charles Thompson <01charles.t@gmail.com>"]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.8.1"
rich = "^13.9.3"
pymysql = "^1.1.1"
myloginpath = "^0.0.4"
packaging = "^24.1"
requests = "^2.32.3"
sqlparse = "^0.5.1"
textual = {version = "0.85.2", extras = ["syntax"]}
charset-normalizer = "^3.3.2"
plotext = "^5.2.8"
zstandard = "^0.23.0"
loguru = "^0.7.2"
orjson = "^3.10.10"
psutil = "^6.1.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
dolphie = "dolphie.app:main"
