[tool.poetry]
name = "dolphie"
version = "3.1.3"
license = "GPL-3.0-or-later"
description = "An intuitive feature-rich terminal tool for monitoring MySQL in real-time"
authors = ["Charles Thompson <01charles.t@gmail.com>"]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.8"
rich = "^13.5.3"
pymysql = "^1.1.0"
myloginpath = "^0.0.4"
packaging = "^23.1"
requests = "^2.31.0"
sqlparse = "^0.4.4"
textual = "^0.37.1"
textual-autocomplete = "^2.1.0b0"
charset-normalizer = "^3.2.0"
plotext = "^5.2.8"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
dolphie = "dolphie.app:main"
