* {
    scrollbar-background: #161c2f;
    scrollbar-background-hover: #192036;
    scrollbar-background-active: #192036;

    scrollbar-color: #33405c;
    scrollbar-color-hover: #3c4b6b;
    scrollbar-color-active: #526389;

    color: #e9e9e9;
}

#_default, CommandScreen, EventLog { # screens
    background: #030918;
}
RichLog {
    background: #030918;
    
}
DataTable {
    background: #030918;
    overflow-x: hidden;
}

.sparkline_label {
    padding-top: 1;
}
Sparkline > .sparkline--max-color {
    color: #2e457b;
}
Sparkline > .sparkline--min-color {
    color: #7b90be;
}

ModalScreen {
    align: center middle;
    height: 40;
    color: #4d5a85;
}

TopBar {
    dock: top;
    background: #192036;
    height: 1;
    layout: horizontal;
    content-align: center middle;
}
#topbar_title {
    width: 1fr;
    content-align: left middle;
}
#topbar_host {
    color: #bbc8e8;
    width: 1fr;
    content-align: center middle;
    text-style: bold;
}
#topbar_help {
    width: 1fr;
    content-align: right middle;
    color: #8f9fc1;
}

#footer {
    dock: bottom;
    height: 1;
    background: #192036;
    content-align: center middle;
}

.datatable--header {
    background: #00000000;
    color: #bbc8e8;
    text-style: bold;
}

#replication_panel {
    max-height: 30;
}
.panel_data {
    content-align: center middle;
}
.panel_container {
    padding-top: 1;
    height: auto;
}
#dml_panel {
    padding-top: 0;
}
#processlist_panel {
    padding-top: 1;
}
CommandModal > Vertical {
    background: #121626;
    border: thick #20263d;
    height: auto;
    width: auto;
}
CommandModal > Vertical > * {
    width: auto;
    height: auto;
}
CommandModal AutoComplete {
    width: auto;
    height: auto;
}
CommandModal Dropdown {
    width: 60;
    background: #151926;
}
CommandModal Dropdown .autocomplete--highlight-match {
    background: #777500;
}
CommandModal Dropdown .autocomplete--selection-cursor {
    background: #283048;
}
CommandModal #kill_container {
    width: 100%;
    height: 6;
}
CommandModal #button_container {
    width: 100%;
    align-horizontal: center;
}
CommandModal Input {
    width: 40;
    margin: 1 2;
    background: #121626;
    border: solid #4d5980;
}
CommandModal Input>.input--placeholder {
    color: #7e8dac;
}
CommandModal Label {
    text-style: bold;
    width: 100%;
    content-align: center middle;
}
CommandModal RadioSet {
    background: #121626;
    border: none;
    padding-top: 1;
    align: center middle;
    width: 100%;
}
CommandModal RadioButton .toggle--button {
    background: #343d56;
}
CommandModal RadioSet ToggleButton:hover {
    background: #121626;
    text-style: none;
}
CommandModal RadioSet ToggleButton:hover .toggle--label {
    text-style: underline;
    color: #a5b8e7;
}
RadioSet:focus > RadioButton.-selected > .toggle--label {
    text-style: underline;
}
CommandModal RadioSet:focus RadioButton.-selected .toggle--label {
    color: #a5b8e7;
}
CommandModal RadioSet > RadioButton.-selected > .toggle--label {
    color: #91abec;
}

CommandModal Checkbox {
    background: #121626;
    border: none;
    padding-top: 1;
    content-align: center middle;
    width: 100%;
}
CommandModal Checkbox .toggle--button {
    background: #343d56;
}
CommandModal ToggleButton:focus > .toggle--label {
    text-style: underline;
}
CommandModal ToggleButton.-on > .toggle--button {
    color: #62c39a;
    text-style: bold;
}

Button.-primary {
    background: #1b2c5a;
    border-top: tall #40558c;
    border-bottom: tall #0d152b;
}
Button.-primary:hover {
    background: #223467;
    border-top: tall #48609d;
    border-bottom: tall #111b37;
}

Button.-default {
    background: #282d3c;
    border-top: tall #606577;
    border-bottom: tall #151820;
}
Button.-default:hover {
    background: #363c50;
    border-top: tall #757b91;
    border-bottom: tall #222634;
}

Switch {
    background: #030918;
    border: none #364774;
}
Switch > .switch--slider {
    color: #424d6f;
    background: #192132;
}
Switch:focus > .switch--slider {
    background: #7aa1fb;
}
Switch:hover > .switch--slider {
    background: #7aa1fb;
}
Switch.-on > .switch--slider {
    color: #5c81d7;
    background: #192132;
}
Switch.-on:focus > .switch--slider {
    color: #8caefd;
    background: #192132;
}
Switch.-on:hover > .switch--slider {
    color: #8caefd;
    background: #192132;
}

#main_switch_container {
    dock: top;
    align: center top;
    padding-top: 1;
    height: auto;
}
#main_switch_container > Label {
    color: #bbc8e8;
    padding-left: 1;
    text-style: bold;
}