* {
    scrollbar-background: #192036;
    scrollbar-background-active: #141b2e;

    scrollbar-background-hover: #141b2e;
    scrollbar-background-active: #192036;

    scrollbar-color: #3b496e;
    scrollbar-color-hover: #55658d;
    scrollbar-color-active: #8999c4;
}
#_default, CommandScreen { # screens
    background: #000718;
    color: #ededed;
}
TextLog {
    background: #000718;
    color: #ededed;
    
}
DataTable {
    background: #000718;
    color: #ededed;
    align: center middle;
    overflow: hidden;
}

TopBar {
    dock: top;
    background: #192036;
    color: #ededed;
    height: 1;
    layout: horizontal;
    content-align: center middle;
}
#topbar_title {
    width: 1fr;
    content-align: left middle;
}
#topbar_host {
    /* color: #e0e5ec; */
    color: #91abec;
    width: 1fr;
    content-align: center middle;
    text-style: bold;
}
#topbar_help {
    width: 1fr;
    content-align: right middle;
    color: #a8b5d2
}

#footer {
    dock: bottom;
    height: 1;
    background: #192036;
    content-align: center middle;
}

.datatable--header {
    background: #00000000;
    color: #c2cff2;
    text-style: bold;
}
.panel {
    padding-top: 1;
}

CommandPopup {
    align: center middle;
    height: 40;
}

#popup {
    background: #181e2e;
    border: thick #212941;
    grid-size: 1;
    grid-rows: 1fr 4;
    padding: 0 1;
    width: 40;
    height: 13;
}
#popup_button_grid {
    grid-size: 2;
    grid-rows: 1fr 4;
    padding: 0 1;
    width: 100%;
    height: 11;
}

#popup_message {
    column-span: 2;
    height: 1fr;
    width: 1fr;
    content-align: center middle;
}