[Unit]
Description=Dolphie Daemon Service
After=mysql.service

[Service]
User=dolphie
ExecStart=/usr/local/bin/dolphie --config-file /etc/dolphie/dolphie-daemon.cnf
StandardOutput=journal
StandardError=journal
Environment=PYTHONUNBUFFERED=1
Restart=on-failure

[Install]
WantedBy=multi-user.target
